@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --main-bg-color: hsl(212, 45%, 89%);
    --bg-color-white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

title {
    display: none;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Outfit", sans-serif;
    /* font-size: 0.94em; */
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container img {
    border-radius: 1.75em;
    max-width: 100%;
    padding: 1.02em;
}

main {
    background-color: var(--bg-color-white);
    text-align: center;
    border-radius: 1.25em;
    box-shadow: 0.5em 0.85em 0.85em #CDD9E8;
    /* box-shadow: 0.625em 0.625em 0.875em #CDD9E8; */
    width: 21.24em;
    height: 32.7em;
}

h1 {
    color: var(--dark-blue);
    font-size: 22px;
    /* font-size: 1.4em; */
    font-weight: 700;
    padding-bottom: 0.7em;
}

p {
    color: var(--grayish-blue);
    font-weight: 400;
}

.text-content {
    margin: 0.4em 1.77em 1.8em 1.77em;
    padding-bottom: 0.2em;
}

.attribution {
    font-size: 11px;
    text-align: center;
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width = 375px) {
    main {
        width: 21.24em;
        height: 32.7em;
    }
}